<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Twitter bootstrap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
        <!-- apiCheck is used by formly to validate its api -->
        <script src="//npmcdn.com/api-check@latest/dist/api-check.js"></script>
        <!-- This is the latest version of angular (at the time this template was created) -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <!-- Angular-UI Bootstrap has tabs directive we want -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.js"></script>
        <!-- This is the current state of master for formly core. -->
        <script src="//npmcdn.com/angular-formly@latest/dist/formly.js"></script>
        <!-- This is the current state of master for the bootstrap templates -->
        <script src="//npmcdn.com/angular-formly-templates-bootstrap@latest/dist/angular-formly-templates-bootstrap.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.7/mask.js"></script>
        <style>
        body {
            margin: 20px
        }
        </style>

        <title>Formly-Template</title>
    </head>

    <body ng-app="formlyTemplate" ng-controller="MainCtrl as vm">
        <div>
            <h1>Angular-Formly Template: {{::vm.template}}</h1>
            <hr />
            <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
                <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
                    <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
                    <button type="button" class="btn btn-default" ng-click="vm.options.resetModel()">Reset</button>
                </formly-form>
            </form>
            <br>
            <h2>Form Data</h2>
            <pre>{{vm.model | json}}</pre>
        </div>


        <script>
        /* global angular */
        (function() {
            'use strict';

            var app = angular.module('formlyTemplate', ['formly', 'formlyBootstrap', 'ui.bootstrap', 'ui.mask'], function config(formlyConfigProvider) {

                formlyConfigProvider.setType([
                    {
                        name: 'ssn',
                        extends: 'input',
                        templateUrl: "ssn.html",
                        defaultOptions: {
                            validators: {
                              phone: function(viewValue, modelValue) {
                                var value = modelValue || viewValue;
                                return /\d{9}/.test(value);
                              }
                            },
                        }
                    }
                ]);

        });

            app.controller('MainCtrl', function MainCtrl(formlyVersion) {
                var vm = this;

                vm.onSubmit = onSubmit;

                vm.template = 'Social Security Number';

                vm.env = {
                    angularVersion: angular.version.full,
                    formlyVersion: formlyVersion
                };

                vm.model = {};

                vm.fields = [
                    {
                        className: 'row',
                        fieldGroup: [
                            {
                                className: 'col-md-6',
                                key: 'ssn1',
                                type: 'ssn',
                            //    defaultValue: 123456789,
                                templateOptions: {
                                    label: 'Your SSN'
                                }

                            }
                        ]
                    }
                ];

                vm.originalFields = angular.copy(vm.fields);

                function onSubmit() {
                    console.log("Form Submitted");
                    console.log(vm.model);
                }
            });

        })();
        </script>
    </body>

    <!-- Custom Templates  -->
    <script type="text/ng-template" id="ssn.html">
        <div class="form-group">
                <div>
                    <input type="text"
                    id="{{id + '_'+ $index}}"
                    ng-value="option[to.valueProp || 'value']"
                    ng-model="model[options.key]"
                    class="form-control"
                    ui-mask="999-99-9999"
                    ui-mask-placeholder
                    ui-mask-placeholder-char="_"/>
                </div>
        </div>
    </script>
</html>
